<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.playsuisse">
		<category id="General" label="30010" help="">
			<group id="1">
				<setting id="email" type="string" label="30000" help="">
					<level>0</level>
					<default></default>
					<control type="edit" format="string"/>
				</setting>
				<setting id="password" type="string" label="30001" help="">
					<level>0</level>
					<default></default>
					<control type="edit" format="string" option="hidden"/>
				</setting>
				<setting id="language" type="string" label="30020" help="">
					<level>0</level>
					<default>auto</default>
					<constraints>
						<options>
							<option label="30021">auto</option>
							<option label="30022">de</option>
							<option label="30023">fr</option>
							<option label="30024">it</option>
							<option label="30025">rm</option>
						</options>
					</constraints>
					<control type="spinner" format="string" />
				</setting>
				<setting id="Prefer_HD" type="boolean" label="30002" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
